<div class="container py-16 md:py-20" id="services">
  <h2 data-aos="fade-up" class="text-center font-header text-4xl font-semibold uppercase text-primary sm:text-5xl lg:text-6xl">
    Here's what I'm good at
  </h2>

  <div class="grid grid-cols-1 gap-6 pt-10 sm:grid-cols-2 md:gap-10 md:pt-12 lg:grid-cols-3">

    <div data-aos="fade-up" data-aos-delay="100" data-tilt class="group rounded px-8 py-12 shadow hover:bg-primary cursor-pointer transform-gpu transition-all">
      <div class="mx-auto h-24 w-24 text-center xl:h-28 xl:w-28">
        <div class="hidden group-hover:block"><img src="assets/img/icon-graphics-white.svg" alt="Frontend Icon" /></div>
        <div class="block group-hover:hidden"><img src="assets/img/icon-graphics-black.svg" alt="Frontend Icon" /></div>
      </div>
      <div class="text-center">
        <h3 class="pt-8 text-lg font-semibold uppercase text-primary group-hover:text-yellow lg:text-xl">Frontend Development</h3>
        <p class="text-grey pt-4 text-sm group-hover:text-white md:text-base">Building responsive, dynamic, and user-friendly web interfaces using modern frameworks like Angular, TypeScript, HTML, and CSS.</p>
      </div>
    </div>

    <div data-aos="fade-up" data-aos-delay="200" data-tilt class="group rounded px-8 py-12 shadow hover:bg-primary cursor-pointer transform-gpu transition-all">
      <div class="mx-auto h-24 w-24 text-center xl:h-28 xl:w-28">
        <div class="hidden group-hover:block"><img src="assets/img/icon-development-white.svg" alt="Backend Icon" /></div>
        <div class="block group-hover:hidden"><img src="assets/img/icon-development-black.svg" alt="Backend Icon" /></div>
      </div>
      <div class="text-center">
        <h3 class="pt-8 text-lg font-semibold uppercase text-primary group-hover:text-yellow lg:text-xl">Backend Development</h3>
        <p class="text-grey pt-4 text-sm group-hover:text-white md:text-base">Designing robust and scalable RESTful APIs and server-side logic using Java, Spring Boot, and advanced Object-Oriented Programming principles.</p>
      </div>
    </div>

    <div data-aos="fade-up" data-aos-delay="300" data-tilt class="group rounded px-8 py-12 shadow hover:bg-primary cursor-pointer transform-gpu transition-all">
      <div class="mx-auto h-24 w-24 text-center xl:h-28 xl:w-28">
        <div class="hidden group-hover:block"><img src="assets/img/icon-graphics-white.svg" alt="Database Icon" /></div>
        <div class="block group-hover:hidden"><img src="assets/img/icon-graphics-black.svg" alt="Database Icon" /></div>
      </div>
      <div class="text-center">
        <h3 class="pt-8 text-lg font-semibold uppercase text-primary group-hover:text-yellow lg:text-xl">Database Management</h3>
        <p class="text-grey pt-4 text-sm group-hover:text-white md:text-base">Structuring and optimizing data storage solutions using both relational (SQL) and non-relational (NoSQL) databases.</p>
      </div>
    </div>

    <div data-aos="fade-up" data-aos-delay="400" data-tilt class="group rounded px-8 py-12 shadow hover:bg-primary cursor-pointer transform-gpu transition-all">
      <div class="mx-auto h-24 w-24 text-center xl:h-28 xl:w-28">
        <div class="hidden group-hover:block"><img src="assets/img/icon-development-white.svg" alt="Testing Icon" /></div>
        <div class="block group-hover:hidden"><img src="assets/img/icon-development-black.svg" alt="Testing Icon" /></div>
      </div>
      <div class="text-center">
        <h3 class="pt-8 text-lg font-semibold uppercase text-primary group-hover:text-yellow lg:text-xl">Software Testing</h3>
        <p class="text-grey pt-4 text-sm group-hover:text-white md:text-base">Ensuring code reliability and high-quality software delivery through comprehensive testing methodologies using tools like Mockito.</p>
      </div>
    </div>

    <div data-aos="fade-up" data-aos-delay="500" data-tilt class="group rounded px-8 py-12 shadow hover:bg-primary cursor-pointer transform-gpu transition-all">
      <div class="mx-auto h-24 w-24 text-center xl:h-28 xl:w-28">
        <div class="hidden group-hover:block"><img src="assets/img/icon-graphics-white.svg" alt="Agile Icon" /></div>
        <div class="block group-hover:hidden"><img src="assets/img/icon-graphics-black.svg" alt="Agile Icon" /></div>
      </div>
      <div class="text-center">
        <h3 class="pt-8 text-lg font-semibold uppercase text-primary group-hover:text-yellow lg:text-xl">Agile & Scrum</h3>
        <p class="text-grey pt-4 text-sm group-hover:text-white md:text-base">Experienced in working with Scrum methodologies to ensure efficient project delivery, continuous improvement, and effective team collaboration.</p>
      </div>
    </div>

  </div>
</div>